* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.projetos-title{
  margin-top: 50px;
}

.conteudo-escondido p,
.conteudo-escondido a{
  display: none;
}

.containers {
  width: 450px;
  overflow-x: hidden;
}

.container-frames{
  width: 2000px;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
  height: 40rem;
  gap: 1rem;
}


.site{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.retrato {
  margin-top: 45px;
  color: black;
  width: 200px;
  border-radius: 200px;
  border: 2px solid #eeeeee;
}
.icone {
  width: 20px;
  height: 20px;
}
.segundoH{
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 40px;
  text-decoration: dashed;
  background: rgba(0, 0, 0, 0.442);
  border-radius: 20px;

}

h2 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.442);
  border-radius: 20px;
}

.title {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  background: rgba(180, 170, 170, 0.842);
  width: 130px;
  height: 50px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px double white;

  transition: all .2s;

}

.botao{
  display: flex;
  align-items: center;

}

.botao p{
  margin-left: 8px;
}

.escondido{
  display: none;
  opacity: 0;
}

.trabalhos{
  border: 2px double white;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: rgba(180, 170, 170, 0.842); 
  transition: all .2s linear;
}

.trabalhos div ion-icon{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 15px;
}
.trabalhos h3{
  margin-top: 15px;
}
.trabalhos:hover{

  transform: scale(1.1);
  cursor: pointer;
}

a:hover{
  transform: scale(1.1);
}


.projetos{
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}


.descricao h2{
  margin-top: 20px;
}

.projeto{
  flex: 1;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(80, 80, 94);
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative;

  margin-left: 50px;
}

.projeto-animacao{
  width: 100px;
  height: 250px;
  flex: 1;
  /* background-color: antiquewhite;  */
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(0.25, 0.46, 0.45, 1.4) 

}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: blue;
  border: none;
  position: absolute;
  top: 800px;
  left: 1500px;
  border-radius: 5px;
  cursor: pointer;
}


#next-btn:hover {
  background-color: navy;
} 

.projeto-animacao.abrir {
  flex: 2;
  width: 500px;
  height: 250px;
  /* background: rgba(253, 247, 247, 0.5); */
}

.descricao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.descricao p{
  text-align: center;
  margin-left: 10px;
}

.descricao p:hover{
  text-decoration: underline;
}

.descricao img{
  width: 70px;
  height: 80px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);

}
.projeto button{
  border: none;
  text-decoration: underline;
  position: absolute;
  top: 210px;
  left: 50px;
}
.projeto.abrir button{
  opacity: 0;
}
.projeto button{
  border: none;
  text-decoration: underline;
  position: absolute;
  top: 210px;
  left: 80px;
}
.projeto.abrir button{
  opacity: 0;
}

@media(max-width: 1200px){
  #next-btn {
    display: none;
  }

  .containers {
    margin-top: 50px;
    width: 350px;
    overflow-x: scroll;
  }
  
  .container-frames{
    width: 1700px;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    height: 40rem;
    overflow-x: scroll;
    gap: 1rem;
  }

  .projeto-animacao{
    width: 100px;
    height: 250px;
  }

  .projeto-animacao.abrir{
    flex: 2;
    width: 150px;
    height: 250px;
    /* background: rgba(253, 247, 247, 0.5); */
  }
  .projeto button{
    top: 210px;
    left: 50px;
  }
  .projeto.abrir button{
    opacity: 0;
  }

}
